.button {
  background-color: @accent;
  font-size: 14px;
  line-height: 18px;
  padding: 11px 0;
  font-weight: @fw-main;
  font-family: @font-main;
  color: @base;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;

  &--show-more {
    background-color: @nutricion;
    color: @subtitle;
  }
}

@media (min-width: @tablet-width) {
  .button {
    font-size: 16px;
    line-height: 20px;
    padding: 14px 65px;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .button {
    padding: 14px 0;
    border: none;
  }
}

.button__promotion {
  @media (min-width: @tablet-width) {
    width: 244px;
    border: none;
    padding: 17px 0;
  }
}

.button__submit {
  @media (min-width: @tablet-width) {
    padding: 13px 65px;
  }

  @media (min-width: @desktop-width) {
    padding: 16px 208px;
  }
}

.button__additional {
  @media (min-width: @tablet-width) {
    padding: 10px 65px;
  }
}
