.button {
  background-color: @accent;
  font-size: 14px;
  line-height: 18px;
  font-weight: @fw-main;
  font-family: @font-main;
  color: @base;
  text-transform: uppercase;
  text-decoration: none;
}
