//Colors

@base: #FFFFFF;
@accent: #69b738;
@nutricion: #F2F2F2;
@example: #EAEAEA;
@accent-background: rgba(104, 183, 56, 0.85);
@subtitle: #444444;
@title: #000000;
@cooperation-color: #111111;
@radio-text: #222222;
@outline-color: #8b0000;

//Fonts

@font-main: "Oswald", "Arial", sans-serif;
@font-subtitle: "Lato", "Arial", sans-serif;
@fw-navigation: 500;
@fw-main: 400;

//Viewports

@tablet-width: 768px;
@desktop-width: 1220px;
