@base: #FFFFFF;
@accent: #69b738;
@nutricion: #F2F2F2;
@example: #EAEAEA;
@accent-background: rgba(104, 183, 56, 0.85);
@subtitle: #444444;
@title: #000000;
@cooperation-color: #111111;
@radio-text: #222222;
