.form {
  .list-reset;
  padding: 27px 20px 32px 20px;

  @media (min-width: @tablet-width) {
    padding: 27px 70px 32px 70px;
  }
}

.form__title {
  .list-reset;
  margin-bottom: 37px;
  font-weight: @fw-main;
  font-family: @font-main;
}

.form__text {
  .list-reset;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 39px;
  color: @title;
  text-transform: uppercase;
}
