.form {
  .list-reset;
  padding: 27px 0 32px 0;

  @media (min-width: @tablet-width) {
    padding: 27px 0 72px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0 0 82px 0;
  }
}

.form__header {
  margin: 0 auto;
  max-width: 280px;
  padding-bottom: 24px;

  @media (min-width: @tablet-width) {
    max-width: 628px;
    padding-bottom: 66px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1220px;
    margin: 0 auto;
  }
}

.form__wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 78px;
  }
}

.form__container {
  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.form__title {
  .list-reset;
  margin-bottom: 37px;
  font-weight: @fw-main;
  font-family: @font-main;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 56px;
  }
}

.form__text {
  .list-reset;
  font-size: 14px;
  line-height: 18px;
  color: @title;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
