.form-field {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: @fw-main;
  font-family: @font-main;
  color: @subtitle;
  display: flex;
  align-items: center;
  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-field__control {
  .list-reset;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: @fw-main;
  font-family: @font-main;
  color: @subtitle;
  flex-grow: 1;
  border: none;
  outline: 1px solid @textarea;
  box-sizing: border-box;
  padding: 14px 15px;

  &:hover {
    outline: 1px solid @input-border;
  }

  &:focus {
    outline: 2px solid @subtitle;
  }

  &--error {
    outline: 2px solid @input-error;
  }

  .form-field__control--target {
    color: @radio-text;
  }

  .form-field__control--check {
    color: @title;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 11px 20px;
  }
}

.form-field__icon {
  content: "";
  position: absolute;
  right: 14px;
  top: 15px;
  fill: @base;
  stroke: @slider-control;
}

.form-field__label {
  margin-right: 13px;
}

.form-field__control:focus + .form-field__icon {
  stroke: @accent;
}

.form-field__control--error + .form-field__icon {
  stroke: @input-error;
}
