.additional {
  .outline;
  .list-reset;
}

.additional__title {
  .list-reset;
  font-weight: @fw-main;
  font-family: @font-main;
  font-size: 24px;
  line-height: 24px;
  color: @title;
}

.additional__container {
  margin: 0 20px;
}

.additional__list {
  .list-reset;
}

.additional__item-title {
  .list-reset;
  font-weight: @fw-main;
  font-family: @font-main;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @radio-text;
}

.additional__item-style {
  font-family: @font-subtitle;
  font-size: 14px;
  line-height: 14px;
  color: @subtitle;
}
