.basic {
  outline: 2px solid #8b0000;
  margin: 0 20px;
}

.basic__title {
  .Oswald-normal;
  .list-reset;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @radio-text;
}

.basic__list {
  .list-reset;
}

.basic__item {
  outline: 2px solid #8b0000;
}

.item-style {
  .Lato;
  .list-reset;
  font-size: 12px;
  line-height: 16px;
  color: @subtitle;
}

.basic__to-all {
  background-color: @nutricion;
  color: @subtitle;
}
