.example {
  .list-reset;
  background-color: @example;
  position: relative;

  @media (min-width: @tablet-width) {
    background: linear-gradient(180deg, @base 0, @base 575px, @example 575px, @example 100%);
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(180deg, @base 0, @base 136px, @example 136px, @example 100%);
  }
}

.example__wrapper {
  margin: 0 auto;
  padding: 25px 0 40px 0;
  max-width: 280px;

  @media (min-width: @tablet-width) {
    max-width: 709px;
    padding: 0 0 100px 0;
    display: grid;
    grid-template-columns: 370px 1fr;
    grid-template-rows: 122px 137px 165px 512px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1220px;
    padding: 0 0 75px 0;
    grid-template-columns: 433px 560px;
    grid-template-rows: 205px 177px 121px 20px;
    column-gap: 227px;
  }
}

.example__title {
  .list-reset;
  font-weight: @fw-main;
  font-family: @font-main;
  font-size: 36px;
  line-height: 40px;
  color: @title;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {

    font-size: 60px;
    line-height: 60px;
    margin-bottom: 0;
  }
}

.example__text {
  .list-reset;
  font-family: @font-subtitle;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 35px;
  color: @subtitle;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    grid-row: 2/3;
    grid-column: 1/3;
  }

  @media (min-width: @desktop-width) {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}

.example__list {
  .list-reset;
  display: flex;
  margin: 0 22px 20px 22px;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    grid-row: 3/4;
    grid-column: 1/2;
    gap: 79px;
    margin-left: 20px;
    margin-top: 4px;
  }

  @media (min-width: @desktop-width) {
    grid-row: 3/4;
    grid-column: 1/2;
    margin: 4px 0 0 18px;
  }
}

.example__item {
  text-align: center;
  position: relative;
}

.example__item::before {
  content: "";
  position: absolute;
  background-image: url("../../../img/example_rectangle.svg");
  background-repeat: no-repeat;
  width: 124px;
  height: 56px;
  transform: translateX(-50%);
  top: -16px;

  @media (min-width: @tablet-width) {
    background-image: url("../../../img/example_rectangle-tablet.svg");
    width: 162px;
    height: 72px;
    top: -15px;
  }
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 6px;
  text-transform: uppercase;
  color: @title;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 11px;
  }
}

.example__description {
  font-family: @font-subtitle;
  font-size: 12px;
  line-height: 12px;
  width: 80px;
  margin: 0;
  text-align: center;
  color: @subtitle;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: 125px;
  }
}

.example__cost-container {
  display: flex;
  justify-content: center;
  gap: 3px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    grid-row: 3/4;
    grid-column: 2/3;
    gap: 9px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    grid-row: 4/5;
    grid-column: 1/2;
    max-width: 327px;
  }
}

.example__cost {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: @title;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.example__image-container {
  margin: 0;
  display: flex;
  position: relative;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    grid-row: 4/5;
    grid-column: 1/3;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1/5;
    grid-column: 2/3;
    height: 512px;
  }
}

.example__slider-container {
  position: absolute;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
}

.example__button {
  .list-reset;
  border: 2px solid @slider-control;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: border-box;
}

.example__icon {
  fill: @slider-control;
  margin: 9px 0 0 7px;
}

.example__slider-control {
  width: 4px;
  height: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 2px;
  background-color: @slider-control;
}

.example__slider-container:hover .example__button {
  border: 2px solid @accent;
}

.example__slider-container:hover .example__icon {
  fill: @accent;
}

.example__slider-container:hover .example__slider-control {
  background-color: @accent;
}

.example__slider-container:active .example__button {
  border: 2px solid @accent;
  opacity: 0.6;
  z-index: 10;
}

.example__slider-container:active .example__icon {
  fill: @accent;
  opacity: 0.6;
}

.example__slider-container:active .example__slider-control {
  background-color: @accent;
  opacity: 0.6;
}

.example__image-slim {
  display: block;
}

.example__image-fat {
  display: block;
}
