.example {
  .list-reset;
  padding: 25px 20px 40px 20px;
  background-color: @example;
  .outline;
  position: relative;

  @media (min-width: @tablet-width) {
    background-color: @base;
    padding: 25px 30px 40px 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 25px 110px 40px 110px;
  }
}

.example__wrapper {
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: 400px 1fr;
    grid-template-rows: 123px 126px 176px 512px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 440px 560px;
    grid-template-rows: 136px 235px 132px 95px;
  }
}

.example__text {
  .list-reset;
  font-family: @font-subtitle;
  font-size: 14px;
  line-height: 18px;
  color: @subtitle;

  @media (min-width: @tablet-width) {
    grid-row: 2/3;
    grid-column: 1/3;
  }

  @media (min-width: @desktop-width) {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}

.example__list {
  .list-reset;
  display: flex;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    grid-row: 3/4;
    grid-column: 1/2;
  }

  @media (min-width: @desktop-width) {
    grid-row: 3/4;
    grid-column: 1/2;
  }
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: @title;
}

.example__description {
  font-family: @font-subtitle;
  font-size: 12px;
  line-height: 12px;
  color: @subtitle;
}

.example__cost-container {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    grid-row: 3/4;
    grid-column: 2/3;
  }

  @media (min-width: @desktop-width) {
    display: block;
    grid-row: 4/5;
    grid-column: 1/2;
  }
}

.example__cost {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: @title;
}

.example__image-container {
  @media (min-width: @tablet-width) {
    grid-row: 4/5;
    grid-column: 1/3;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1/5;
    grid-column: 2/3;
  }
}
