.example {
  .list-reset;
  padding: 25px 20px 40px 20px;
  background-color: @example;
  outline: 2px solid #8b0000;
  position: relative;
}

.example__text {
  .Lato;
  .list-reset;
  font-size: 14px;
  line-height: 18px;
  color: @subtitle;
}

.example__list {
  .list-reset;
}

.example__value {
  .Oswald-normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: @title;
}

.example__description {
  .Lato;
  font-size: 12px;
  line-height: 12px;
  color: @subtitle;
}

.example__cost {
  .Oswald-normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: @title;
}
