.explanation {
  .list-reset;
  .outline;
}

.explanation__wrapper {
  margin: 0 20px 49px 20px;

  @media (min-width: @tablet-width) {
    margin: 0 30px 49px 30px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 110px 49px 110px;
  }
}

.explanation__list {
  .list-reset;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 250px 250px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 230px 250px 250px 250px;
  }
}

.explanation__item:not(:last-child) {
  margin-bottom: 26px;
}

.explanation__item-style {
  font-family: @font-subtitle;
  font-size: 14px;
  line-height: 18px;
  color: @subtitle;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-color: @accent;
    width: 60px;
    height: 60px;
  }
}

.explanation__item--healthy::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon_leaf.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.explanation__item--preparation::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-preparation.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.explanation__item--periodicity::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-periodicity.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.explanation__item--result::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-result.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.explanation__title {
  font-family: @font-main;
  font-size: 36px;
  line-height: 40px;
  color: @title;
}
