.main-header {
  .list-reset;
  padding: 0 20px;
  .outline;
  display: flex;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .main-header {
    padding: 0 30px 64px 0;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    padding: 53px 110px 29px 53px;
  }
}
