.main-footer {
  .list-reset;
  .outline;
  background-color: @nutricion;
}

.main-footer__wrapper {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}
