.promotion {
  .list-reset;
  padding-top: 27px;
  background-image: linear-gradient(@accent-background, @accent-background), url("../img/cat-promotion-background.jpg");
  background-repeat: no-repeat;
  background-size: 320px 302px;
  .outline;
}

.promotion__wrapper {
  margin-bottom: 20px;
}

.promotion__title {
  .list-reset;
  font-size: 36px;
  line-height: 36px;
  color: @base;
}

.promotion__intro {
  .list-reset;
  font-size: 14px;
  line-height: 14px;
  color: @base;
}
