.promotion {
  .list-reset;
  background-image: linear-gradient(@accent-background, @accent-background), url("../img/cat-promotion-background.jpg");
  background-repeat: no-repeat;
  background-size: 320px 302px;
  margin-bottom: 20px;
  padding-top: 27px;
  position: relative;

  @media (min-width: @tablet-width) {
    background: none;
    margin-bottom: 0;
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 185px;
    margin-bottom: 82px;
  }
}

.promotion::after {
  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    background-image: linear-gradient(@accent-background, @accent-background), url("../img/cat-promotion-background.jpg");
    background-repeat: no-repeat;
    width: 50%;
    height: 694px;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

.promotion__wrapper {
  position: relative;

  @media (min-width: @tablet-width) {
    margin: 0 120px;
    padding-bottom: 540px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 190px;
    padding-bottom: 0;
  }
}

.promotion__header {
  @media (min-width: @tablet-width) {
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.promotion__title {
  .list-reset;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 25px;
  color: @base;
  text-align: center;

  @media (min-width: @tablet-width) {
    color: @title;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px;
    max-width: 450px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;
  }
}

.promotion__intro {
  .list-reset;
  font-size: 14px;
  line-height: 14px;
  color: @base;
  text-align: center;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    color: @title;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 49px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 52px;
  }
}

.promotion__image {
  display: block;

  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    top: 201px;
    left: 0;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    top: -82px;
    left: 368px;
    z-index: 1;
  }
}

.promotion__link {
  margin: 0 20px;
  display: block;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 14px 0;
  }
}
