.social {
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  border-bottom: 1px solid @nutricion-border;

  @media (min-width: @tablet-width) {
    border-bottom: none;
    padding: 0;
    width: auto;
  }
}

.social__list {
  .list-reset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 132px;
  margin: 0 auto;
}

