.social {
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  border-bottom: 1px solid @nutricion-border;

  @media (min-width: @tablet-width) {
    border-bottom: none;
    padding: 0;
    width: auto;
  }
}

.social__list {
  .list-reset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 132px;
  margin: 0 auto;
}

.social__icon-vk,
.social__icon-youtube,
.social__icon-telegram {
  fill: @slider-control;
}

.social__icon-vk:hover,
.social__icon-youtube:hover,
.social__icon-telegram:hover {
  fill: @accent;
}

.social__link--vkontakte:focus .social__icon-vk,
.social__link--youtube:focus .social__icon-youtube,
.social__link--telegram:focus .social__icon-telegram {
  fill: @accent;
}

.social__link:focus-visible {
  outline: none;
}

.social__link:active {
  opacity: 0.3;
}
